* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100vh;
  grid-gap: 1rem;
  padding: 2rem;
}
.item {
  background-color: aquamarine;
  border-radius: 1rem;
}
.item1 {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: blue;
}
.item2 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 6;
  background-color: rgb(27, 27, 68);
}
.item3 {
  grid-row: 3/4;
  grid-column: 1/3;
  background-color: rgb(181, 181, 255);
}
.item4 {
  grid-row: 2/4;
  grid-column: 3/5;
  background-color: rgb(181, 255, 193);
}
.item5 {
  grid-row: 2/3;
  grid-column: 5/6;
  background-color: rgb(181, 255, 193);
}
.item6 {
  grid-row: 3/4;
  grid-column: 5/6;
  background-color: rgb(243, 78, 120);
}

@media only screen and (max-width: 992px) {
  .grid {
    height: 200vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .item4 {
    grid-row: 2/4;
    grid-column: 3/6;
    background-color: rgb(181, 255, 193);
  }
  .item5 {
    grid-row: 4/5;
    grid-column: 1/3;
    background-color: rgb(181, 255, 193);
  }
  .item6 {
    grid-row: 4/5;
    grid-column: 3/6;
    background-color: rgb(243, 78, 120);
  }
}

@media only screen and (max-width: 768px) {
  .grid {
    display: grid;
    height: 200vh;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  .item3 {
    grid-row: 3/4;
    grid-column: 1/3;
    background-color: rgb(181, 181, 255);
  }
  .item1 {
    grid-row: 1/2;
    grid-column: 1/3;
    background-color: rgb(33, 240, 222);
  }
  .item2 {
    grid-row: 2/3;
    grid-column: 1/3;
    background-color: rgb(28, 28, 51);
  }
  .item4 {
    grid-row: 4/5;
    grid-column: 1/3;
    background-color: rgb(181, 255, 193);
  }
  .item5 {
    grid-row: 5/6;
    grid-column: 1/3;
    background-color: rgb(181, 255, 193);
  }
  .item6 {
    grid-row: 6/7;
    grid-column: 1/3;
    background-color: rgb(243, 78, 120);
  }
}
